{% extends 'base.html' %}

{% block head %}
    <title>Home</title>
{% endblock %}

{% block body %}
    <div class="jumbotron-fluid">
        <h1>Home</h1>
        <h2>Welcome</h2>
    </div>
    <div>
        <div class="row">
            {% for movie_data in movies_data %}
            <div class="card card col-xs-12 col-md-6 homepage-card">
                <p>
                    {{ movie_data.movie_name }}
                </p>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}